[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/parsiya/Hugo-Octopress.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
